@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@500&display=swap');
body{
    font-family: 'Kaisei HarunoUmi', serif;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
header{
    background: url(../img/bg-header.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
}
header nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
}
header nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}
header nav ul li {
    list-style: none;
    margin:20px ;
    font-size: 23px;
    
}
header nav ul li a {
    color: black;
    font-size: 22;
    text-decoration: none;
    padding: 5px;
    transition: 0.3s;
}
header nav ul li a:hover{
    border-bottom: 2px solid rgb(255, 0, 0);
    border-top: 2px solid rgb(255, 0, 0);
}
header #hero{
    padding-top: 110px;
    text-align:center ;
    margin: 0;
}
header #hero h1{
    padding-top: 20px;
    color:red;
    font-size: 30px;
    margin: 0;
}
header #hero p{
    color: white;
    font-size: 20px;
    margin: 0;
}
header #hero button{
    background: red;
    font-size: 20px ;
    border-radius: 10px;
    border: rgb(136, 54, 54);
    padding: 10px 20px;
    margin-top: 60px;
}
header #hero button a{
    text-decoration: none;
    color: white;
}
header {
    font-family: 'Open Sans', sans-serif;
}
header nav a img{
    transition: 0,4s;
}
header nav a img:hover{
       transform: scale(1.1);
}

main #autos{
    background: url(../img/bg-config2.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    padding: 60px 0;
    text-align: center;
}
.container{
    width: 1200px;
    margin: 0 auto;

}
main #autos h2{
    color: white;
    font-size: 40px;
}
main #autos p{
    color: white;
    font-size: 20px;
}
main #autos .row{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
main #autos .row .card-auto{
     width: 30%;
     position: relative;
}
main #autos .row .card-auto h3{
    color:white;
    margin: 0;
    font-size: 26px;
    position: absolute;
    top: 120px;
    right: 0;
    left: 0;
    text-align: 0;
    
}
main #autos .row .card-auto p{
    margin: 0;

}
main #sonidos{
    background: url(../img/bg-sound.png);
    padding: 110px 0 40px 0;
    background-size: cover; 
    text-align: center;
}
.container{
    width: 1300px;
    margin: 0 auto;
} 
main #sonidos h2{
    color: white;
    font-size: 50px;
    margin: auto;
    padding: 0 0 20px 0 ;
}
main #sonidos .row{
    display: flex;
    justify-content:center;
    margin-top: 40px;
}
main #sonidos .row .card-sonido video{
    width: 70%;
    position: relative;
}        
main #sonidos .row .card-sonido h3{
    color: white;
    font-size: 30px;
}
main #contacto{
    color: white;
    background: red;
    padding: 100px 0 150px 0;
    text-align: center;
}
main #contacto h2{
    font-size: 50px;
}
main #contacto p{
    font-size: 20px;
    font-weight: 500;
}
main #contacto form input{
    width: 40%;
    font-size: 30px;
    padding: 12px 15px ;
    margin: 20px;
    border-radius: 5px;
    border: 1px solid #666666;
}
main #contacto form select{
    width: 42%;
    font-size: 30px;
    padding: 12px 15px ;
    margin: 20px;
    border-radius: 5px;
    border: 1px solid #666666;
}
main #contacto form button{
    color: white;
    padding: 12px 70px;
    font-size: 20px;
    margin-top: 50px;
    border-radius: 5px;
    border: 1px solid #666666;
    background: rgb(201, 29, 29);
}

footer{
    text-align: center;
    padding: 40px 100px;
    background: black;
    font-size: 20px;
    color: white;
}